// Font Colors:
$font-main: #292e3f;
$radio-label: #4a4a4a;

$plain-white: #fff;

//Button Specific
$button-color: #555;
$button-background: #C6D3D9;

//NPS Specific
$nps-label: #7A7E92;
$nps-background: #F5F6F8;

//Text area specific
$textarea-background: #D1D7E5;
$character-limit: #4a4a4a;

// Hover 
$nps-hover: #BFCDD4;


