// Font Colors:
$font-main: #292e3f;
$radio-label: #4a4a4a;

//Button Specific
$button-color: #555;
$button-background: #c6d3d9;

//NPS Specific
$nps-label: #7a7e92;
$nps-background: #f5f6f8;

//Text area specific
$textarea-background: #d1d7e5;
$character-limit: #4a4a4a;

// Hover 
$nps-hover: #bfcdd4;

//Colors
$plain-white: #fff;
$plain-grey: #808080;
