@import '../../variables';

.RadioInput-container {
  display: flex;
  align-items: center;

  .RadioInput-label {
    color: $radio-label;
    font-size: 12px;
    padding-left: 4px;
  }

  input[type='radio'] {
    cursor: pointer;
  }
}
